<div class="flex h-full justify-center items-center">
  <app-loading *ngIf="isLoading$ | async"></app-loading>
  <div
    *ngIf="(isLoading$ | async) === false"
    class="grid grid-cols-3 gap-x-[180.5px]"
  >
    <app-pokemon-filter
      (filterChange)="onFilterChange($event)"
    ></app-pokemon-filter>
    <app-pokemon-list
      class="overflow-y-scroll"
      [pokemons]="pokemonsWithDetails$ | async"
      (rowClick)="onRowClick($event)"
      (actionClick)="onActionClick($event)"
    ></app-pokemon-list>
  </div>
</div>
